-
  var projects = [
    {
      name: "Aux Bay",
      client: "[Redacted]",
      excerpt: "A independent social music platform for uploading and previewing downloadable music",
      image: "assets/images/work/auxbay.jpg",
      description: "A independent social music platform for uploading and previewing downloadable music",
      video: "assets/images/work/auxbay.jpg"
    }, {
      name: "Beergarden",
      client: "[Redacted]",
      excerpt: "A marketing and informational website for a local beer garden",
      image: "assets/images/work/beergarden.jpg",
      description: "A marketing and informational website for a local beer garden",
      video: "assets/images/work/beergarden.jpg"
    }, {
      name: "Candy Shop",
      client: "[Redacted]",
      excerpt: "A marketing and informational website for a local candy store",
      image: "assets/images/work/candy.jpg",
      description: "A marketing and informational website for a local candy store",
      video: "assets/images/work/candy.jpg"
    }, {
      name: "College",
      client: "[Redacted]",
      excerpt: "A marketing and informational website for a nearby state college",
      image: "assets/images/work/college.png",
      description: "A marketing and informational website for a nearby state college",
      video: "assets/images/work/college.png"
    }, {
      name: "Environmental Campaign",
      client: "[Redacted]",
      excerpt: "A website for an initiative for mitigating climate change",
      image: "assets/images/work/environmental.png",
      description: "A website for an initiative for mitigating climate change",
      video: "assets/images/work/environmental.png"
    }, {
      name: "Fashion Week",
      client: "[Redacted]",
      excerpt: "A marketing campaign tracking live coverage at fashion week for a nail product company",
      image: "assets/images/work/fashion.png",
      description: "A marketing campaign tracking live coverage at fashion week for a nail product company",
      video: "assets/images/work/fashion.png"
    }
  ];  
  
  var web = [
    {
      name: "Aux Bay",
      client: "[Redacted]",
      excerpt: "A independent social music platform for uploading and previewing downloadable music",
      image: "assets/images/work/auxbay.jpg",
      description: "A independent social music platform for uploading and previewing downloadable music",
      video: "assets/images/work/auxbay.jpg"
    }, {
      name: "Beer Garden",
      client: "[Redacted]",
      excerpt: "A independent social music platform for uploading and previewing downloadable music",
      image: "assets/images/work/auxbay.jpg",
      description: "A independent social music platform for uploading and previewing downloadable music",
      video: "assets/images/work/auxbay.jpg"
    }
  ];
