-
  var web = [
    {
      name: "Aux Bay",
      client: "[Redacted]",
      excerpt: "A independent social music platform for uploading and previewing downloadable music",
      image: "assets/images/work/auxbay.jpg",
      technologies: "HTML, CSS, PHP",
      video: "assets/images/work/auxbay.jpg"
    }, {
      name: "Beergarden",
      client: "[Redacted]",
      excerpt: "A marketing and informational website for a local beer garden",
      image: "assets/images/work/beergarden.jpg",
      technologies: "Wordpress, HTML, CSS, jQuery",
      video: "assets/images/work/beergarden.jpg"
    }, {
      name: "Environmental Campaign",
      client: "[Redacted]",
      excerpt: "A website for an initiative for mitigating climate change",
      image: "assets/images/work/environmental.jpg",
      technologies: "Wordpress, HTML, CSS, jQuery",
      video: "assets/images/work/environmental.jpg"
    }, {
      name: "Fashion Week",
      client: "[Redacted]",
      excerpt: "A marketing campaign tracking live coverage at fashion week for a nail product company",
      image: "assets/images/work/fashion.jpg",
      technologies: "HTML, CSS, Drupal",
      video: "assets/images/work/fashion.jpg"
    }, {
      name: "Soul of Athens",
      client: "Ohio University",
      excerpt: "An interactive multimedia website showcasing various journalistic showcases about Athens, Ohio",
      image: "assets/images/work/flash.jpg",
      technologies: "Flash, Drupal",
      video: "assets/images/work/flash.jpg"
    }, {
      name: "Angel Investment Platform",
      client: "[Redacted]",
      excerpt: "A platform for startups to receive funding and manage investments",
      image: "assets/images/work/startup.jpg",
      technologies: "Rails, SASS, HAML, React",
      video: "assets/images/work/startup.jpg"
    }, {
      name: "Educational Publishing",
      client: "[Redacted]",
      excerpt: "A marketing website for an educational materials publisher",
      image: "assets/images/work/learn.jpg",
      technologies: "HTML, CSS, PHP, jQuery, Javascript",
      video: "assets/images/work/learn.jpg"
    }, {
      name: "Mother's Day Social Campaign'",
      client: "[Redacted]",
      excerpt: "A mother's day advertising campaign to encourage participation for a cause",
      image: "assets/images/work/moment.jpg",
      technologies: "HTML, CSS, PHP, jQuery, Javascript",
      video: "assets/images/work/moment.jpg"
    }, {
      name: "Breast Cancer Awareness Social Campaign",
      client: "[Redacted]",
      excerpt: "A breast cancer awareness advertising campaign to encourage participation for a cause",
      image: "assets/images/work/pink.jpg",
      technologies: "HTML, CSS, PHP, jQuery, javascript",
      video: "assets/images/work/pink.jpg"
    }, {
      name: "Kid's Game",
      client: "[Redacted]",
      excerpt: "An interactive matching quiz used in an advertising campaign",
      image: "assets/images/work/quiz.jpg",
      technologies: "HTML, CSS, PHP, jQuery, javascript",
      video: "assets/images/work/quiz.jpg"
    }, {
      name: "Pvblic",
      client: "Pvblic",
      excerpt: "A product catalog website for a native-inspired clothing line",
      image: "assets/images/work/pvblic.jpg",
      technologies: "HTML, CSS, jQuery",
      video: "assets/images/work/pvblic.jpg"
    }, {
      name: "Sports Ecommerce",
      client: "[Redacted]",
      excerpt: "A website for selling packages to a sporting event",
      image: "assets/images/work/sport.jpg",
      technologies: "Wordpress, HTML, CSS, jQuery",
      video: "assets/images/work/sport.jpg"
    }, {
      name: "Outfit Mix 'n' Match Fb App",
      client: "[Redacted]",
      excerpt: "A facebook app for searching a retail brand's inventory and putting together an outfit, then locate the items in a nearby store",
      image: "assets/images/work/style.jpg",
      technologies: "Wordpress, HTML, CSS, jQuery",
      video: "assets/images/work/style.jpg"
    }
  ];

  var print = [
    {
      name: "Business Card",
      client: "Robert Greene",
      excerpt: "Attorney business card",
      image: "assets/images/work/atty.jpg"
    }, {
      name: "Delicious Design",
      client: "N/A",
      excerpt: "A screenprintable poster design for an art show",
      image: "assets/images/work/deliciousdesign.jpg"
    }, {
      name: "National Day of Silence",
      client: "N/A",
      excerpt: "A t-shirt design for a cause",
      image: "assets/images/work/dosshirt.jpg"
    }, {
      name: "3 Degrees of Separation Album Cover",
      client: "Free Form",
      excerpt: "Album Artwork",
      image: "assets/images/work/freeform.jpg"
    }, {
      name: "Lead Me to the Water",
      client: "The Looking",
      excerpt: "Album artwork for a CD sleeve",
      image: "assets/images/work/looking.jpg"
    }, {
      name: "Ovation",
      client: "Broadway Sings",
      excerpt: "A theater poster design for an annual charity event",
      image: "assets/images/work/ovation.jpg"
    }, {
      name: "Turtle Illustration",
      client: "N/A",
      excerpt: "An illustration of a turtle",
      image: "assets/images/work/turtle.jpg"
    }, {
      name: "Drug Info Card",
      client: "New York DanceSafe",
      excerpt: "A card in a series of scientific, educational materials",
      image: "assets/images/work/mdma.jpg"
    }, {
      name: "Bobcat",
      client: "N/A",
      excerpt: "Bobcat illustration",
      image: "assets/images/work/bobcat.jpg"
    }, {
      name: "Harmreduction Apparel Design",
      client: "New York DanceSafe",
      excerpt: "Hoodie design",
      image: "assets/images/work/skull.jpg"
    }
  ];

  var digitalMediaArt = [
    {
      name: "Band Logo Projection",
      client: "N/A",
      excerpt: "Live concert graphics",
      image: "assets/images/work/HITB.jpg",
      video: '<iframe src="https://player.vimeo.com/video/19167376" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'
    }, {
      name: "Subway Train",
      client: "N/A",
      excerpt: "Subway 3D model rendering of a NYC subway train with texture",
      image: "assets/images/work/train.jpg",
      video: ""
    }, {
      name: "UFC Animation",
      client: "N/A",
      excerpt: "Animation of Quintin Rampage Johnson and Tito Ortiz",
      image: "assets/images/work/ufc.jpg",
      video: '<iframe allowFullScreen frameborder="0" height="564" mozallowfullscreen src="https://player.vimeo.com/video/261914688" webkitAllowFullScreen width="640"></iframe>'
    }, {
      name: "Soul of Athens Promo",
      client: "N/A",
      excerpt: "Baisc logo special effects for a promotion video for Soul of Athens",
      image: "assets/images/work/soa.jpg",
      video: '<iframe allowFullScreen frameborder="0" height="564" mozallowfullscreen src="https://player.vimeo.com/video/261914080" webkitAllowFullScreen width="640"></iframe>'
    }, {
      name: "Typography Animation",
      client: "N/A",
      excerpt: "Moving text and graphics",
      image: "assets/images/work/intro.jpg",
      video: '<iframe allowFullScreen frameborder="0" height="564" mozallowfullscreen src="https://player.vimeo.com/video/261915698" webkitAllowFullScreen width="640"></iframe>'
    }, {
      name: "Ridges Architecture",
      client: "N/A",
      excerpt: 'A 3D model and rendering of the main building at \"The Ridges\"',
      image: "assets/images/work/ridges.jpg",
      video: ''
    }, {
      name: "3D Cartoon Animation",
      client: "N/A",
      excerpt: '3D animation cartoon concept.',
      image: "assets/images/work/cartoon.jpg",
      video: '<iframe src="https://player.vimeo.com/video/262273007" width="640" height="427" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'
      
    }
  ];
