-
  var projects = [
    {
      name: "Aux Bay",
      client: "[Redacted]",
      excerpt: "A independent social music platform for uploading and previewing downloadable music",
      image: "assets/images/work/auxbay.jpg",
      description: "A independent social music platform for uploading and previewing downloadable music",
      video: "assets/images/work/auxbay.jpg"
    }, {
      name: "Beer Garden",
      client: "[Redacted]",
      excerpt: "A independent social music platform for uploading and previewing downloadable music",
      image: "assets/images/work/auxbay.jpg",
      description: "A independent social music platform for uploading and previewing downloadable music",
      video: "assets/images/work/auxbay.jpg"
    }
  ];
