- var imgUrl = 'https://cdn-images-1.medium.com/max/1600/';
-
  var posts = [{
      title: "True Life: I’m a coder that is not good at writing algorithms",
      slug: "true-life-im-a-coder-that-is-not-good-at-writing-algorithms",
      url: "true-life-im-a-coder-that-is-not-good-at-writing-algorithms-a846a798e9a4",
      imageId: "1*hsqzvWgc42_zSV2BwXC1Xg.png",
      published: 1472928509868,
      excerpt: "Some believe the mathematical capabilities of a coder is what differentiates developers from engineers. That’s probably true. I recognize…"
  },{
      title: "Programmer Burnout: Early Prevention",
      slug: "just-say-no-to-programmer-burnout",
      url: "just-say-no-to-programmer-burnout-de268f55283c",
      imageId: "1*5oqE7Mfd_9bjJp_K0kqGng.png",
      published: 1470706412415,
      excerpt: "It’s week 10 of Flatiron’s June 2016 Cohort — approaching the final stretch. New concepts are flying at us at a more accelerated rate than…"
  },{
      title: "Once You Web Dev, You Can Anything Dev: Revisiting Unity3D",
      slug: "once-you-web-dev-you-can-anything-dev-revisiting-unity3d",
      url: "once-you-web-dev-you-can-anything-dev-revisiting-unity3d-ec9c1352f5ab",
      imageId: "1*ONVPP3Mv4jx2XfPYmVx55w.jpeg",
      published: 1471798425996,
      excerpt: "Here I am, nearly 12 weeks later, finishing up my immersive full stack web development course at Flatiron School. It’s amazing how much…"
  },{
      title: "Audio Visualizations with the Web Audio API",
      slug: "audio-visualizations-with-the-web-audio-api",
      url: "audio-visualizations-with-the-web-audio-api-fa9ce7c73070",
      imageId: "1*56JHwEGH8otAkaYXRimHXw.jpeg",
      published: 1470233538922,
      excerpt: "I did a presentation for Flatiron School Presents on using Javascript to create Audio Visualizations. Here’s a video:"
  },{
      title: "A Little Git-Fu for the Budding Young Grasshopper (Programmer)",
      slug: "a-little-git-fu-for-the-budding-young-grasshopper-programmer",
      url: "a-little-git-fu-for-the-budding-young-grasshopper-programmer-ecf2873fc85d",
      imageId: "1*dtIu53gH-OO_CyyqsmYNJg.gif",
      published: 1469119057928,
      excerpt: "When you’ve gotten all your tools for development set up, you mostly dive straight into learning and working — ignoring a lot of the…"
  },{
      title: "Back-End Developers Hate Front-End: Creating Grids with CSS",
      slug: "back-end-developers-hate-front-end-creating-grids-with-css",
      url: "back-end-developers-hate-front-end-creating-grids-with-css-629924f0e92",
      imageId: "1*Ly-eM3JrJWQgmWSIuyhN2Q.png",
      published: 1467811052952,
      excerpt: "It’s true. The 2 disciplines — while they coincide with each other — often cause a rift, because they are two different beasts that require…"
  },{
      title: "So You Want to Become a Programmer, Eh?",
      slug: "so-you-want-to-become-a-programmer-eh",
      url: "so-you-want-to-become-a-programmer-eh-820d3ff82d6d",
      imageId: "1*hsqzvWgc42_zSV2BwXC1Xg.png",
      published: 1469024465538,
      excerpt: "As I’ve stated in previous blogs, I always knew I wanted to work with web technology. I didn’t know what that looked like, or even where to…"
  },{
      title: "Maximizing Efficiency with Vim/MacVim",
      slug: "maximizing-efficiency-with-vim-macvim",
      url: "maximizing-efficiency-with-vim-macvim-4eba3e9d27aa",
      imageId: "0*H-Jw6BS15Wo-nKs4.png",
      published: 1466601578764,
      excerpt: "My journey of becoming a developer has been an interesting one full of career twists and turns and bumbling through a multitude of…"
  }]
