section#blog.blog.scrollspy
    .container
        h2: span Blog
        h3 Check Out Our Medium Posts
        .row.posts
            include ../posts/_post
        
        .row.extra-padding.narrow-row
            h3 Check Out Our Social Media
            .flow-text.social.huge.center
                a.col.s6.m4.l3.waves-effect.waves-light.github(href='#!' target="_blank")
                    .rectangle
                        .content.valign-wrapper github
                a.col.s6.m4.l3.waves-effect.waves-light.facebook(href='facebook.com/eclectusinteractive/!' target="_blank")
                    .rectangle
                        .content.valign-wrapper facebook
                a.col.s6.m4.l3.waves-effect.waves-light.instagram(href='https://www.instagram.com/eclectusinteractive/' target="_blank")
                    .rectangle
                        .content.valign-wrapper instagram
                a.col.s6.m4.l3.waves-effect.waves-light.twitter(href='https://twitter.com/eclectusmedia' target="_blank")
                    .rectangle
                        .content.valign-wrapper twitter

