section#prices.prices.scrollspy
    .container
        h2: span Frequently Asked Questions
        .row
            .col.s12.l8.offset-l2
                ul.collapsible(data-collapsible='accordion')
                    li
                        .collapsible-header.active
                            strong How much will production cost?
                        .collapsible-body
                            p.flow-text.
                                Many print-based projects will start at $100. Web & software projects cost a minimum of $350. Video and modeling vary and may be billed hourly.
                    li
                        .collapsible-header
                            strong Do I need to buy my own domain and/or hosting?
                        .collapsible-body
                            p.flow-text.
                              We can provide domain and hosting that will be bundled into the overall project costs at a discounted rate. 
                              A flat rate fee will be applied to the price that covers hosting for a full year. 
                              Much more user-friend than GoDaddy.
                    li
                        .collapsible-header
                            strong How does the billing work?
                        .collapsible-body
                            p.flow-text.
                                Flat rate projects require 50% upfront and 50% on project completion. Most projects will be billed hourly.
                    li
                        .collapsible-header
                            strong Will you be responsible for content management or other updates?
                        .collapsible-body
                            p.flow-text.
                                All projects are delivered with the intent of the end-user continuing maintenance on their own. Retainer work is a separate hourly or monthly fee.
                    li
                        .collapsible-header
                            strong What tools are used?
                        .collapsible-body
                            p.flow-text.
                                Adobe Creative Suite, Blender, XCode, Visual Studio, Lulzbot, and more!
