include ../projects/_projectData

section#projects.projects.scrollspy
    .container
        h2: span Projects
        h3 Past Projects We've Worked On 
        .row.text-center
            h4 Web & Software 
            include ../projects/_web
        .row.text-center
            h4 Print & Illustration
            include ../projects/_print
        .row.text-center
            h4 Digital Media Art
            include ../projects/_digitalMediaArt
