section#services.services.scrollspy
    .container
        h2: span Services
        h3 Our capabilities
        .row.big-icons-row.service-items.center
            .col.s12.m6.l4.padding-bottom
                .square
                    .content
                        i.icon-software-layout-header-sideleft
                        .description
                            h4 Web & UI Design
                            p.flow-text No more ugly or restrictive websites created with online site builders! We'll help you prioritize technology solutions that will scale with your services.
            .col.s12.m6.l4.padding-bottom
                .square
                    .content
                        i.icon-basic-display
                        .description
                            h4 Software Development
                            p.flow-text We offer custom software consulting and development services from concept to culmination! We offer technology services catered to businesses and organizations that serve everyday people.
            .col.s12.m6.l4.padding-bottom
                .square
                    .content
                        i.icon-basic-server2
                        .description
                            h4 Site Hosting
                            p.flow-text Save time and money with our all-in-one installation, configuration, performance monitoring, and security. We can handle your migrations, backup, and data recovery, too. All we is your domain!
            .col.s12.m6.l4.padding-bottom
                .square
                    .content
                        i.icon-software-pen
                        .description
                            h4 Illustration
                            p.flow-text Enhance your presentations, brand identity, or marketing presence with vibrant illustrations, iconography and typography. We have experience with advertising campaigns, publishing, branding, and other creative projects. 
            .col.s12.m6.l4.padding-bottom
                .square
                    .content
                        i.icon-basic-lightbulb
                        .description
                            h4 3D Modeling & Printing
                            p.flow-text Have a concept you would like brought into the 3rd dimension! We can do that too! We can sculpt and print small runs of your model.

            .col.s12.m6.l4.padding-bottom
                .square
                    .content
                        i.icon-basic-video
                        .description
                            h4 Video Editing & Motion Graphics
                            p.flow-text With years of experience in visual communication and television production work, we can design motion for your streaming video, digital advertising, and interactive media.
