// Roo modal
#roo.modal.bottom-sheet
    .modal-close.absolute &times;
    .modal-cover.col.s12.l6.no-padding
        .square(style='background-image: url(./assets/images/team/roo.jpg)')
    .modal-content.col.s12.l6.no-padding
        .square
            .content
                h4 Buddy
                h5 Senegal Parrot
                .divider
                p.flow-text.
                    He's a bird. He does bird things like chirps, preens himself, and swings.
                img.responsive-img(src='./assets/images/team/buddy.jpg', alt='Buddy enjoying noms')
                p Buddy enjoying noms.