// Annie modal
#annie.modal.bottom-sheet
    .modal-close.absolute &times;
    .modal-cover.col.s12.l6.no-padding
        .square(style='background-image: url(./assets/images/team/annie.jpg)')
    .modal-content.col.s12.l6.no-padding
        .square
            .content
                h4 Kellye Greene
                h5 Founder & Developer
                .divider
                p.flow-text.
                    I like to code.
                p.flow-text.
                .row
                    .col.s12.center
                        p.flow-text Follow me
                        p.flow-text.social
                            a.github(href='github.com/drakeltheryuujin') github